body {
    background: #DEEFF5;
}

#datatable thead td{
    padding-top: 2px;
    padding-bottom: 2px;
}
#datatable tbody td{
    padding-top: 2px;
    padding-bottom: 2px;
}

#datatable thead tr{
    background-color: #ffffff;
}
#datatable tbody tr.odd{
    background-color: #FFFFFF;
}
#datatable tbody tr.even{
    background-color: #ffffff;
}

#datatable thead td:first-child{
    border-left: 1px solid #404040;
}
#datatable thead td{
    border-top: 1px solid #404040;
    border-right: 1px solid #404040;
}

#datatable tbody td:first-child{
    border-left: 1px solid #404040;
}
#datatable tbody td{
    border-right: 1px solid #404040;
}
.tacbox {
    display:block;
    padding: 10px;
    margin: auto;
    max-width: 400px;
  }
  
  input {
    height: 2em;
    width: 2em;
    vertical-align: middle;
  }