* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: auto;
    overflow: hidden;
    margin-left: 240px;
}

.sidebar {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #fff;
    padding: 6px 14px;
    transition: all 0.5s ease;
    width: 260px;
    box-shadow: 5px 5px 5px 0px rgba(110, 110, 110, 0.3);
    filter: drop-shadow(5px 5px 5px rgba(110, 110, 110, 0.3));
}

.logo img {
    max-width: 100%;
} 

.sidebar .link_name {
    opacity: 1;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar .logo_content .logo {
    color: black;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 1;
    pointer-events: none;
    transition: all 0.5s ease;
}

.jobrequestdr ul :hover{
    background-color: #e8e4e4;
}


/*.dropdown-toggle {
    cursor: pointer;
  }
  
  .dropdown-menu {
    padding: 0.5rem 0;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    list-style: none;
  }
  
  .dropdown-item {
    padding: 0.5rem 1rem;
    color: #212529;
    font-size: 0.875rem;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-item:hover, .dropdown-item:focus {
    background-color: #f8f9fa;
    color: #212529;
    text-decoration: none;
  }*/





.logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.logo_content{
    margin-top:20px;
    margin-bottom:20px;
}

.sidebar #btn {
    color:  black;
    position: absolute;
    left: 55%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.navdiv ul {
    /*margin-top: 20px; */
    margin-top: 0px;
}

.navdiv ul li {
    position: relative;
    width: 100%;
    margin: 0 5px;
    line-height: 50px;
    list-style: none;
    display: block;
}

/*.navdiv ul li .tooltip {
    position: absolute;
    height: 35px;
    width: 122px;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}

.navdiv ul li:hover .tooltip {
    top: 50%;
    transition: all 0.5s ease;
    opacity: 1;
}
*/
.navdiv ul li a {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.navdiv ul li a:hover {
    color: #11101d;
    background: #7CD0F2;
}

.navdiv ul li div:hover {
    color: #11101d;
    background: #7CD0F2;
    border-radius: 12px;
    transition: all 0.4s ease;
}

/*test*/

.navdiv ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.navdiv ul {
    padding-left: 0;
}

.sidebar .profile_content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width:100%;
}

.sidebar .profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #ffffff;
}

.profile_content .profile .profile_details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    background: rgb(255, 255, 255);
    border-radius: 12px;
}

.profile .profile_details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile_details .name_role {
    margin-left: 10px;
    color: black;
}

.profile .profile_details .name {
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .role {
    font-size: 12px;
}

.profile #log_out {
    color:black;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: rgb(250, 250, 250);
}

.sidebar .profile .profile_details {
    opacity: 1;
    pointer-events: auto;
}

.sidebar .profile #log_out {
    left: 88%;
    background-color: none;
}

.sidebar .profile #log_out:hover{
    color: #11101d;
    background-color: #7CD0F2;
    border-radius: 12px;
    transition: all 0.4s ease;
}
